{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ajide Habeeb Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '../vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '../vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '../vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '../vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '../vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '../vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static '../img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Ajide Habeeb</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/jibogithub" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://www.youtube.com/channel/UC_soP7EZNHJx664IMie8VJw/about" class="youtube"><i class="bx bxl-youtube"></i></a>
          <a href="https://medium.com/@ajidejibola" class="medium"><i class="bx bxl-medium"></i></a>
          <a href="https://www.linkedin.com/in/habeeb-ajide-434bb61a8/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

 
  <main id="main">




    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title text-center">
          <h2 class="text-center">Resume</h2>
          
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Ajide Habeeb</h4>
              <p><em>Extremely Passionate and Enthusiastic Software Engineer.</em></p>
              <ul>
                <li>090 5614 2690</li>
                <li>ajidejibola@yahoo.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bsc Industrial Relations &amp; Personnel Mangement</h4>
              <h5>2015 - 2019</h5>
              <p><em>University of Ilorin, Ilorin, Kwara State, Nigeria</em></p>
            </div>
            <div class="resume-item">
              <h4>Technology Stacks</h4>
              <ul>
                <li>C#</li>
                <li>Python</li>
                <li>Javascript</li>
                <li>HTML & CSS#</li>
                <li>Bootstrap</li>
                <li>ReactJs</li>
                <li>ASP.Net Core</li>
              </ul>
              
            </div>


            <div class="resume-item">
              <h4>Industry Experience/Skills</h4>
              <ul>
                <li>Programming</li> 
                <li>Product development</li>
                <li>Software Development</li>
                <li>Continous Integration systems	.NET development</li>
                <li>SQL integration</li>
                <li>API design knowledge</li>
                <li>Backend Engineering</li>
              </ul>
              
            </div>

            <div class="resume-item">
              <h4>Certifications</h4>
              <ul>
                <li>microsoft certified professional-2021</li>
                <li>AZURE DEVELOPER ASSOCIATE-2021</li>
              </ul>
              
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Software Developer</h4>
              <h5>Jan 2021 - Present</h5>
              <p><em>SIDMACH TECHNOLOGIES</em></p>
              <p><em>Ikeja, Lagos, Nigeria </em></p>
              <ul>

                <li>Designed and maintained streamlined, reusable and reliable code for use within distributed cloud environments.</li>

                <li>Participated in cross-functional projects while working in lean development environments.</li>

                <li>Revised, modularized and updated old code bases to modern development standards, reducing operating costs and improving functionality.</li>

                <li>Led version control efforts for backend team, employing GitHub and Azure DevOps.</li>

                <li>Designed API and collaborated with team members for efficient delivery to front-end teams.</li>

                <li>Collaborated and learning on mobile app development using Xamarin Forms</li>

                <li>Responsible for team code refactoring, bug fixes and continuous deployment using CICD</li>

                <li>Worked with tools such as (C#, .Net Core, MSSQL, Azure DevOps, Xamarin Forms, Swagger UI for API testing).</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Fullstack Web Developer</h4>
              <p><em>WILDFIRE BUSINESS SOLUTIONS AGENCY</em></p>
              <p><em>Oshodi, Lagos, Nigeria </em></p>

              <li>Designed and developed efficient and maintainable software according to business objectives and needs of various clients</li>

              <li>Maintained complex technology infrastructure and collaborated with product team to implement new features and strategically plan for future products</li>

              <li>Reviewed code, debugged problems and corrected issues.</li>

              <li>Contributed ideas and suggestions in team meetings and delivered updates on deadlines designs and enhancements</li>

              <li>Delivered performance-driven and user-centric websites that met all business requirements.</li>

              <li>Trainer for two interns on backend web development with python and Django web framework.</li>

              <li>Led the IT team and responsible for all issues concerning design structures and implementations.</li>

              <li>Developed, coded and updated websites for clients using tools  such as(
              PHP, MYsql, MongoDB, Wordpress, Django, Bootstrap, CSS and Node.js)</li>

              <li>Troubleshooting and server configurations.</li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title text-center">
          <h2 text-center>Portfolio</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Youtube</li>
              <li data-filter=".filter-card">Mobile App</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-10 col-md-10 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static '../img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static '../img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="https://sm-software.herokuapp.com" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->



   
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
       <strong><span>AjideHabeeb.IO</span></strong>
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '../vendor/aos/aos.js' %}"></script>
  <script src="{% static '../vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '../vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '../vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '../vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static '../vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static '../vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '../vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static '../vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '../js/main.js' %}"></script>

</body>

</html>
